  <%= stylesheet_link_tag 'about', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'about', 'data-turbo-track': 'reload' %>
<h1 class="text-center">機能紹介</h1>  
<div class="about-page">
  <div class="about-page">
  <div id="section1" style="background-image: url('<%= asset_path('3.jpg') %>');"></div>
  <div id="section2" style="background-image: url('<%= asset_path('2.jpg') %>');"></div>
</div>
</div>