<h1 class="text-center my-4">投稿一覧</h1>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6 mb-4">
        <div class="card">
          <% if post.image.attached? %>
            <%= image_tag post.image, class: 'card-img-top' %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= post.title %></h4>
            <p class="card-text"><%= post.content %></p>
            <p class="card-text"><small class="text-muted">投稿日: <%= post.created_at.strftime('%Y/%m/%d') %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
