header {
  margin-top: 0 !important;
  padding-top: 0 !important; /* 必要に応じてpaddingもリセット */
}
body {
  margin: 0;
  padding: 0;
}
.equal-width-button {
  display: block;
  width: 100%;
  max-width: 300px; /* 必要に応じて適切な幅に設定 */
  text-align: center;
  padding: 10px 20px;
  margin: 10px 0; /* ボタン間のスペースを縦方向に調整 */
}

.equal-width-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 縦に並べる */
}

.content {
  text-align: center; /* コンテンツを中央に配置 */
  color: white; /* 必要に応じてテキストカラーを調整 */
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 背景画像の上に半透明のオーバーレイを追加 */
  z-index: 1; /* オーバーレイを前面に配置 */
}

.content {
  z-index: 2; /* コンテンツをオーバーレイの前面に配置 */
}
.navbar .navbar-nav .nav-link {
  text-transform: none !important;
}

.navbar-brand {
  text-transform: none !important;
}